.loading-container {
    width: 100%;
    height: 50rem;
    background-color: black;
    position: relative;
}

.loading-image {
    top: 20%;
    position: relative;
    max-height: 25rem;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}