
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

.body {
  height: 100%;
  width: 100%;
  background-color: silver;
  overflow-x: hidden;
}
.App {
  font-family: "Nunito", sans-serif;
}

h2,
p {
  align-content: left;
}
h1 {
  font-size: 2rem;
}

.Grid {
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  border-radius: 0.5rem;
  background-color: #1A2026;
  grid-gap: 1rem;
}

.Grid--content {
  text-align: left;
  margin-left: 8px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding-left: 1rem;
  text-transform: capitalize;
  font-size: 1.1rem;
  color: whitesmoke;
}

.Hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://cdnb.artstation.com/p/assets/images/images/013/464/345/large/aodhan-mc-nicholl-rick-morty-style-background-001-copy.jpg?1539713189");
    height: calc(40vh - 50px);
}
@media (min-width: 768px) {
  .Hero-image {
    height: calc(70vh - 50px);
  }
}

.Container {
  background-color: silver;
  display: grid;
  grid-gap: .5rem;
  grid-template-columns: repeat(2, 3fr);
}

.btn {
  background-color: #fff;
  border-radius: .5rem;
  border: solid 1px black;
  color: black;
  padding: 8px 26px;
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
  height: 3rem;
}

.Header {
  width: 46rem;
}

